<% include ./Partial//header %>

<div class="container">
   <form class="my-5" action="/room" method="POST" enctype="multipart/form-data">
      <div class="row">
         <div class="form-group col">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Room Name">
         </div>
         <div class="form-group col">
            <label for="slug">Slug</label>
            <input type="text" name="slug" id="slug" class="form-control" placeholder="Slug Name"
               aria-describedby="helpId">
         </div>
      </div>
      <div class="row">
         <div class="form-group col-6">
            <label for="roomType">Type</label>
            <select class="form-control" name="type" id="roomType">
               <option value="presidential">Presidential</option>
               <option value="family">Family</option>
               <option value="double">Double</option>
               <option value="single">Single</option>
            </select>
         </div>
      </div>
      <div class="row">
         <div class="form-group col">
            <label for="roomPrice">Price</label>
            <input type="number" name="price" class="form-control" placeholder="Room Price" min="0">
         </div>
         <div class="form-group col">
            <label for="roomSize">Size</label>
            <input type="number" name="size" class="form-control" placeholder="Room Size" min="0">
         </div>
         <div class="form-group col">
            <label for="Capacity">Capacity</label>
            <input type="number" name="Capacity" id="Capacity" class="form-control" placeholder="Capacity" min="0">
         </div>
      </div>
      <div class="row">
         <div class="form-group col">
            <p class="form-check-inline">Pets: </p>
            <div class="form-check form-check-inline">
               <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="pets" id="petsYes" value=true> Yes
               </label>
            </div>
            <div class="form-check form-check-inline">
               <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="pets" id="No" value=false> No
               </label>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="form-group col">
            <p class="form-check-inline">Breakfast: </p>
            <div class="form-check form-check-inline">
               <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="breakfast" value=true> Yes
               </label>
            </div>
            <div class="form-check form-check-inline">
               <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="breakfast" value=false> No
               </label>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="form-group col">
            <p class="form-check-inline">Featured: </p>
            <div class="form-check form-check-inline">
               <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="featured" value=true> Yes
               </label>
            </div>
            <div class="form-check form-check-inline">
               <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="featured" value=false> No
               </label>
            </div>
         </div>
      </div>
      <div class="form-group">
         <label for="exampleFormControlTextarea1">Description:</label>
         <textarea class="form-control" name="description" rows="3"></textarea>
      </div>
      <div class="form-row">
         <div class="col-md-6" id="extra">
            <label for="extra">Extra</label>
            <div class="input-group">
               <input type="text" name="extras" class="form-control" placeholder="">
               <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><i class="fas fa-plus" id="add"></i></span>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-3">
         <div class="form-group col-6">
            <div class="custom-file">
               <input type="file" name="images" class="custom-file-input" id="customFile" multiple accept="image/*">
               <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
         </div>
      </div>
      <div class="row image"></div>

      <button type="submit" class="btn btn-primary">Save</button>
   </form>
</div>

<script src="/javascripts/room_post.js"></script>
<% include ./Partial//footer %>